@model IEnumerable<DeliverySite.Models.Product>



@{

    ViewBag.Title = "Produse";
}
<style type="text/css">
    img {
        border-radius: 4px;
    }

     
</style>

<h2>Prudsele</h2>

<p>
    @Html.ActionLink("Adauga produs", "Create")
</p>
@{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Content/Image/"+item.ImagePath)" alt="...">
                    <div class="caption">
                        <h3>@item.ProductName</h3>
                        <h4>Timpul pentru pregatire @item.TimeToReady minute</h4>
                        <h4>Pretul @item.Price lei</h4>
                        <p><a href="http://localhost:63960/ShippingCart/OrderNow/@item.Id" class="btn btn-primary" role="button">Adauga in cos</a>
                    </div>
                </div>
            </div>
        </div>
    }
}
