@model IEnumerable<DeliverySite.Models.Manufacturer>

@{
    ViewBag.Title = "Index";
}
<style>
    img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px;  /* Rounded border */
        padding: 5px; /* Some padding */
        width: 100px; /* Set a small width */
    }

    /* Add a hover effect (blue shadow) */
    img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdressManufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumberManufacurer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailManufacturer)
        </th>
        
        <th>
            <center>@Html.DisplayNameFor(model => model.ImagePathLoggo)</center>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdressManufacturer)
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.ContactNumberManufacurer)</center>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailManufacturer)
        </td>
        
        <td>
            <center> <img src="~/Content/Manufacturers/@item.ImagePathLoggo" width="50" height="50" /></center>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
